.imgBlog{
    display: block;
    display: grid;
    grid-template-columns:1.1fr 1.1fr 1.1fr 1.1fr;
    grid-column-gap: 20px;
    margin: 70px 20px;
}
.fondoHome{
    background-image:url(../lunaAzulCortada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondoSecciones{
    background-image:url(../fondosecciones.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #B0BEC5;
    font-weight: normal;
    text-align: center;
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: center;
    color: white;
}
 .margenCarrousel{
     padding-top: 120px;
     padding-bottom: 30px;
     margin-left: 120px;
     margin-right: 120px;
 }

/*Características del menú*/

.logosOmg{
    margin-left: 10px;
    margin-top: 5px;
}

nav{
    background-color: rgba(87, 91, 95, 1);
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 2.2fr;
    width: 100%;
    ul{
        margin-top: 25px;
        li{
            a{
                font-family: 'Montserrat', sans-serif;
                color: white;    
                text-decoration-line: none;
                
            }
        }
    }
}

nav ul li a:hover{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: underline rgb(255, 51, 0);
}

.menuGird{
    display: grid;
}

.menu{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    text-align: justify;
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 250px;
    border: 5px;
    margin-left: 45px;
}

/*NOSOTROS*/
.nosotrosGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.nosotros{
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
    margin-top: 30px;
    margin-right: 50px;
    line-height: 2;
    text-align: justify;
}
.equipo{
    padding: 20px;
    margin: 50px;
}
/*SERVICIOS*/

.serviciosGrid{
    display: grid;
    grid-template-columns:1.1fr 1.1fr 1.1fr 1.1fr;
    grid-column-gap: 20px;
    margin: 70px 20px;
}

.asideSs{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#FE3308,rgb(125, 131, 180));
    margin: 0px 10px;
    height: 350px;
    padding: 50px;
    border: 5px;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 2;
}

.asideSs:hover{
    font-family: 'Montserrat', sans-serif;
    transform: scale(1.1,1.1);
    transform: "flip-left";
    animation-name: "giro";
    animation-duration: inherit;
}

@keyframes giro {
        0%{
            transform: "flip-left"(0deg);
        }
        50%{
            transform: "flip-left"(360deg);
        }
        100%{
            transform: "flip-left"(0deg);
        }
    }
.animacionSS{
    font-family: 'Montserrat', sans-serif;
    animation-name: giro;
    transform: rotateX(60deg);
}

/*BLOG*/
.blog{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 0px 200px;
    padding: 50px;
    justify-content: flex-end;
    justify-items: center;
    align-items: center;
    line-height: 3;
    background-color: rgb(236, 237, 238);
    color: rgb(32, 36, 46);
}

.blogPpal{
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


/*CLIENTES*/
.clientesGrid{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns:1.1fr 1.1fr 1.1fr 1.1fr 1.1fr;
    margin: 30px;
}


.logos{
    margin: 10px;
}

#vete{
    margin-top: 30px;
}
#nanatravel{
    margin-top: 70px;
}
#deli{
    margin-top: -45px;
}
#chimi{
    margin-top: 0px;
}

/*CONTACTANOS*/
form{
    text-align: center;
    align-items:center;
    label{
        font-family: 'Montserrat', sans-serif;
        color:white;
    }
}

.cajasContacto{
    padding: 10px 200px;
    background-color: rgba(233, 233, 233, 1);
}

.cajaConsulta{
    padding: 20px 173px;
    background-color: rgba(233, 233, 233, 1);
}

footer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: white;
    width: 100%;
    
}

p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.margen{
    padding-top: 150px;
}




/*MOBILE*/
@media (min-width:320px) and (max-width:599px){
    #logoInicio{
        width: 400px;
        height: 190px;
        margin: 30px;
        padding: 10px;
    }
    
    .logosOmg{
        margin-left: 170px;
    }
    nav{
        position: relative;
        display: flex;
        flex-direction: column;
        ul{
            li{
                a{
                    color: rgb(0, 4, 15);
                }
            }
        }
    }

    .margen{
        padding-top: 10px;
    }

    .margenCarrousel{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .menu{
        display: block;
        text-align: center;
        height: 40px;
        padding-top: 20px;
        background-color: rgb(201, 206, 221);
        margin-left: 0px;
        margin: 5px;
    }
    /*nosotrosCELU*/
    .nosotrosGrid{
        display: flex;
        flex-direction: column;
    
    }
    .nosotros{
        padding: 50px;
        margin: 10px;
        line-height: 2;
        text-align: justify;
    }
    .equipo{
        width: 305px;
        height: 300px;
        padding: 0px 30px;
    }

    
    /*serviciosCELU*/
    .serviciosGrid{
    display: grid;
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    }

    .asideSs{
    
    background-image: linear-gradient(#FE3308,rgb(125, 131, 180));
    margin: 5px 10px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    }

    /*blogCELU*/
    .blog{
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        align-items: center;
        line-height: 3;
        background-color: rgb(236, 237, 238);
        color: rgb(32, 36, 46);
        width: 100fr;
        margin: 5px;
        padding: 10px;
    }

    /*clientesCELU*/

    .clientesGrid{
        display: grid;
        grid-template-columns:1.1fr 1.1fr 1.1fr;
        margin: 30px;
    }

    .logos{
        margin: 8px;
    }

    #viviendas{
        width: 130px;
        height: 113px;
    }
    
    #vete{
        margin-top: 30px;
        width: 130px;
        height: 94px;
    }
    #nanatravel{
        margin-top: 70px;
        width: 130px;
        height: 57px;
    }
    #deli{
        margin-top: -10px;
        width: 130px;
        height: 185px;
    }
    #chimi{
        margin-top: 15px;
        width: 130px;
        height: 130px;
    }

}

/*TABLET*/
@media (min-width:600px) and (max-width:1000px){
    
    #logoInicio{
        width: 400px;
        height: 190px;
        margin: 30px;
        padding: 10px;
    }
    .logosOmg{
        margin-left: 40px;
    }
    nav{
        position: relative;
        display: flex;
        flex-direction: column;
        ul{
            li{
                a{
                    color: rgb(0, 4, 15);
                }
            }
        }
    }

    .margenCarrousel{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .margen{
        padding-top: 10px;
    }
    
    .menu{
        display: block;
        text-align: center;
        height: 40px;
        padding-top: 20px;
        background-color: rgb(201, 206, 221);
        margin-left: 0px;
        margin: 5px;   
    }
    
    /*nosotrosTABLET*/
    .nosotrosGrid{
        display: flex;
        flex-direction: column;
    }

    .nosotros{
        padding: 50px;
        margin: 10px;
        line-height: 2;
        text-align: justify;
    }
    .equipo{
        width: 455px;
        height: 400px;
        padding: 30px 50px;
        background-color: #fff;
    }
    /*serviciosTABLET*/
    .serviciosGrid{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        margin: 70px 5px;   
    }

    .asideSs{
        grid-template-columns:1fr 1fr 1fr 1fr;
        background-image: linear-gradient(#FE3308,rgb(125, 131, 180));
        margin: 1px;
        height: 200px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
        font-size: 14px;
        text-align: center;
        line-height: 1.2;
    
    }
    /*blogTABLET*/
    .blog{
        display: flex;
        justify-content: flex-end;
        justify-items: center;
        align-items: center;
        line-height: 3;
        background-color: rgb(236, 237, 238);
        color: rgb(32, 36, 46);
        width: 100fr;
        margin: 5px;
        padding: 10px;
    }

    /*clientesTABLET*/
    .clientesGrid{
        display: grid;
        grid-template-columns:1.1fr 1.1fr 1.1fr;
        margin: 30px;
    }

    .logos{
        margin: 8px;
    }

    #viviendas{
        width: 130px;
        height: 113px;
    }
    
    #vete{
        margin-top: 30px;
        width: 130px;
        height: 94px;
    }
    #nanatravel{
        margin-top: 70px;
        width: 130px;
        height: 57px;
    }
    #deli{
        margin-top: -10px;
        width: 130px;
        height: 185px;
    }
    #chimi{
        margin-top: 15px;
        width: 130px;
        height: 130px;
    }

}